@charset "utf-8";
/*
 * 变量文件
 */

/* 路径
 ----------------------------------------------------------*/

/* 配色
 ----------------------------------------------------------*/
$bg-color: rgb(224,224,224);
// $bg-color: rgb(250,214,137);
$theme-color: #02a8fe;
// $theme-color: rgb(200,12,12);
// $theme-color: #8F77B5;


/* 布局
 ----------------------------------------------------------*/
$cd-size: 360px;

$time-height: 5px;

/* 字体
 ----------------------------------------------------------*/

/* 其他
 ----------------------------------------------------------*/
::-moz-selection {
    background: $theme-color;
}
::-webkit-selection {
    background: $theme-color;
}
::selection {
    background: $theme-color;
}